<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - Sponsorworks</title>
        @Styles.Render("~/Content/css")
        @RenderSection("Head", required: false)
        <meta name="description" content="@ViewBag.Description" />
    </head>
    <body>
        <div class="container">
            @RenderSection("Header", required: false)
        </div>
        <div class="container">
            @RenderBody()
        </div>
        <div class="container">
            <textarea id="log" style="width: 100%; height: 400px"></textarea>
        </div>

        <div id="loading" style="display: none">
            <img src="~/Content/images/ajax-loader.gif" alt="Loading..." />
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/history")
        <script src="~/Scripts/App.js"></script>
        @RenderSection("JavaScript", required: false)

    </body>
</html>